.card-container {
  display: flex;
  background-color: #cef0ff;
  width: 85%;
  justify-content: space-around;
  height: 100px;
  padding: 1.2em;
  margin: 1em auto;
  border: 1px solid black;
  border-radius: 21px;
  color: #000;
  font-weight: 600;
  align-items: center;
  /* position: relative; */
}
.content {
  width: 75%;
  flex: 1;
  cursor: default;
}
.todo-icons {
  width: 20%;
  transition: 0.5s;
  padding-right: 0.2em;
  text-align: end;
}
.todo-icons span {
  margin-left: 0.2em;
  margin-right: 0.1em;
}
.todo-icons span:hover {
  cursor: pointer;
}
.edit-form {
  width: 100%;
  height: 30px;
  outline: none;
  border: none;
}
