.type-container {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin: 0.5em auto;
  min-height: 300px;
  justify-content: flex-start;
  border-radius: 2em;
}
.normal-bg {
  background-color: rgb(93, 177, 250);
}
.highlight {
  background-color: rgb(176, 214, 247);
}
.type-container h2 {
  text-align: center;
  color: black;
  margin-top: 1em;
  padding-top: 0;
}
.children {
  margin: 0 auto;
  width: 95%;
}
